<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="d-flex justify-content-center pt-5">
    <ng-container *ngFor = "let frase of frases; let i = index">
      <div *ngIf = "i === currentStep" class="d-flex justify-content-center">
        <div class="card w-25">
          <img [src] = "frase.img" alt="" class="card-img-top h-50 w-100" [style.background-color]="frase.bgcolor">
          <h3 class="card-title ms-2 me-2">{{ frase.title }}</h3>
          <br>
          <p class="card-text ms-2 me-2 wrap">{{ frase.description }}</p>
          <br><br>
          <div class="card-navigation d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex ms-2">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="button">              
              <button type="button" class="btn me-2" *ngIf="frase.index !== 0" (click)="previuosCard() ">&#8592;</button>
              <button type="button" class="btn me-2" *ngIf="frase.index !== 2" (click)="nextCard()">&#8594;</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
    

</body>
</html>


